<div class="management">
<% if(title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>
  <% if(errors) { %>
  <ul class="errors">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
  <%- messages() %>

  <p>Are you sure you want to delete this vehicle? This action cannot be undone.</p>

  <form action="/inv/delete" method="post" enctype="multipart / form-data" id="edit-inventory-form" validate>
    <input type="text" name="inv_make" id="inv_make" value="<%- locals.inv_make %>" readonly>
    <input type="text" name="inv_model" id="inv_model" value="<%- locals.inv_model %>" readonly>
    <input type="number" name="inv_year" id="inv_year" pattern="[0-9]{4}" step="1" min="1900" max="2100" value="<%- locals.inv_year %>" readonly>
    <input type="number" name="inv_price" id="inv_price" min="0" step="0.01" value="<%- locals.inv_price %>" readonly>
      <input type="hidden" name="inv_id"
      <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
      <% } %>>
    <input type="submit" value="delete Vehicle">
  </form>
</div>